In [ ]:
# welcome to the deepnote work!

# Links of interest
# https://www.kaggle.com/currie32/crimes-in-chicago
# https://github.com/RandomFractals/ChicagoCrimes/blob/master/notebooks/all-chicago-crime-charts.ipynb
# https://deepnote.com/project/Crimes-in-Chicago-armH27cJTveb7jhKQMSxwg/%2Fnotebook.ipynb

In [17]:
# importing the libraries 
!pip install dask
import dask
import dask.dataframe as dd
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
import os
import glob
import csv
from dask.diagnostics import ProgressBar

Requirement already satisfied: dask in /home/kuntalac/miniconda3/lib/python3.9/site-packages (2021.11.1)
Requirement already satisfied: cloudpickle>=1.1.1 in /home/kuntalac/miniconda3/lib/python3.9/site-packages (from dask) (2.0.0)
Requirement already satisfied: partd>=0.3.10 in /home/kuntalac/miniconda3/lib/python3.9/site-packages (from dask) (1.2.0)
Requirement already satisfied: fsspec>=0.6.0 in /home/kuntalac/miniconda3/lib/python3.9/site-packages (from dask) (2021.11.0)
Requirement already satisfied: toolz>=0.8.2 in /home/kuntalac/miniconda3/lib/python3.9/site-packages (from dask) (0.11.2)
Requirement already satisfied: packaging>=20.0 in /home/kuntalac/miniconda3/lib/python3.9/site-packages (from dask) (21.0)
Requirement already satisfied: pyyaml in /home/kuntalac/miniconda3/lib/python3.9/site-packages (from dask) (5.4.1)
Requirement already satisfied: pyparsing>=2.0.2 in /home/kuntalac/miniconda3/lib/python3.9/site-packages (from packaging>=20.0->dask) (2.4.7)
Requirement already satisfied: locket in /home/kuntalac/miniconda3/lib/python3.9/site-packages (from partd>=0.3.10->dask) (0.2.1)
WARNING: Error parsing requirements for jupyter-contrib-nbextensions: [Errno 2] No such file or directory: '/home/kuntalac/miniconda3/lib/python3.9/site-packages/jupyter_contrib_nbextensions-0.5.1.dist-info/METADATA'

In [ ]:
# To-Do
# Introduction
# Introduction of the Dataset
# Data merge
# Data Cleaning
# Missing Data, Duplicate 
# Data Analysis (Drop/ add any New Column)
# Data Visualization
# Conclusion

# Dataset:
This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to 2017.

# Variables of the dataset:

ID - Unique identifier for the record.

Case Number - The Chicago Police Department RD Number (Records Division Number), which is unique to the incident.

Date - Date when the incident occurred. this is sometimes a best estimate.

Block - The partially redacted address where the incident occurred, placing it on the same block as the actual address.

IUCR - The Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description. See the list of IUCR codes at https://data.cityofchicago.org/d/c7ck-438e.

Primary Type - The primary description of the IUCR code.

Description - The secondary description of the IUCR code, a subcategory of the primary description.

Location Description - Description of the location where the incident occurred.

Arrest - Indicates whether an arrest was made.

Domestic - Indicates whether the incident was domestic-related as defined by the Illinois Domestic Violence Act.

Beat - Indicates the beat where the incident occurred. A beat is the smallest police geographic area â€“ each beat has a dedicated police beat car. Three to five beats make up a police sector, and three sectors make up a police district. The Chicago Police Department has 22 police districts. See the beats at https://data.cityofchicago.org/d/aerh-rz74.

District - Indicates the police district where the incident occurred. See the districts at https://data.cityofchicago.org/d/fthy-xz3r.

Ward - The ward (City Council district) where the incident occurred. See the wards at https://data.cityofchicago.org/d/sp34-6z76.

Community Area - Indicates the community area where the incident occurred. Chicago has 77 community areas. See the community areas at https://data.cityofchicago.org/d/cauq-8yn6.

FBI Code - Indicates the crime classification as outlined in the FBI's National Incident-Based Reporting System (NIBRS). See the Chicago Police Department listing of these classifications at http://gis.chicagopolice.org/clearmap_crime_sums/crime_types.html.

X Coordinate - The x coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.

Y Coordinate - The y coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.

Year - Year the incident occurred.

Updated On - Date and time the record was last updated.

Latitude - The latitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.

Longitude - The longitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.

Location - The location where the incident occurred in a format that allows for creation of maps and other geographic operations on this data portal. This location is shifted from the actual location for partial redaction but falls on the same block.

# Loading of the data files: (Four CSV files)

In [18]:
#Loading the four CSV files
from glob import glob
filenames=sorted(glob(os.path.join("Data","*.csv")))
filenames

['/home/kuntalac/Data Analysis/Crimes-in-Chicago/Data/Chicago_Crimes_2001_to_2004.csv',
 '/home/kuntalac/Data Analysis/Crimes-in-Chicago/Data/Chicago_Crimes_2005_to_2007.csv',
 '/home/kuntalac/Data Analysis/Crimes-in-Chicago/Data/Chicago_Crimes_2008_to_2011.csv',
 '/home/kuntalac/Data Analysis/Crimes-in-Chicago/Data/Chicago_Crimes_2012_to_2017.csv']

In [19]:
dask_all_file=dd.read_csv(filenames,error_bad_lines=False,assume_missing=True,dtype={'ID': np.int64,'PrimaryType': 'str','FBI Code': 'object','Beat': np.uint16,'IUCR': 'str','Latitude': 'object',
'Y Coordinate': 'object','Location': 'str'},  parse_dates=['Date'],infer_datetime_format=True)

/home/kuntalac/miniconda3/lib/python3.9/site-packages/dask/dataframe/io/csv.py:721: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  return read_pandas(

# Understanding the data in the dateset:

In [9]:
dask_all_file.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 23 entries, Unnamed: 0 to Location
dtypes: datetime64[ns](1), object(11), bool(2), float64(7), int64(1), uint16(1)

In [10]:
dask_all_file

Dask DataFrame Structure:
               Unnamed: 0     ID Case Number            Date   Block    IUCR Primary Type Description Location Description Arrest Domestic    Beat District     Ward Community Area FBI Code X Coordinate Y Coordinate     Year Updated On Latitude Longitude Location
npartitions=62
                  float64  int64      object  datetime64[ns]  object  object       object      object               object   bool     bool  uint16  float64  float64        float64   object      float64       object  float64     object   object   float64   object
                      ...    ...         ...             ...     ...     ...          ...         ...                  ...    ...      ...     ...      ...      ...            ...      ...          ...          ...      ...        ...      ...       ...      ...
...                   ...    ...         ...             ...     ...     ...          ...         ...                  ...    ...      ...     ...      ...      ...            ...      ...          ...          ...      ...        ...      ...       ...      ...
                      ...    ...         ...             ...     ...     ...          ...         ...                  ...    ...      ...     ...      ...      ...            ...      ...          ...          ...      ...        ...      ...       ...      ...
                      ...    ...         ...             ...     ...     ...          ...         ...                  ...    ...      ...     ...      ...      ...            ...      ...          ...          ...      ...        ...      ...       ...      ...
Dask Name: read-csv, 62 tasks

In [5]:
dask_all_file.dtypes

Unnamed: 0                     float64
ID                               int64
Case Number                     object
Date                    datetime64[ns]
Block                           object
IUCR                            object
Primary Type                    object
Description                     object
Location Description            object
Arrest                            bool
Domestic                          bool
Beat                            uint16
District                       float64
Ward                           float64
Community Area                 float64
FBI Code                        object
X Coordinate                   float64
Y Coordinate                    object
Year                           float64
Updated On                      object
Latitude                        object
Longitude                      float64
Location                        object
dtype: object

In [6]:
dask_all_file.head()

/home/kuntalac/miniconda3/lib/python3.9/site-packages/dask/dataframe/io/csv.py:125: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  df = pandas_read_text(

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,879.0,4786321,HM399414,2004-01-01 00:01:00,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,7.0,46.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,2544.0,4676906,HM278933,2003-03-01 00:00:00,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,...,11.0,61.0,26,1173974.0,1876757.0,2003.0,04/15/2016 08:55:02 AM,41.817229156,-87.637328,"(41.817229156, -87.637328162)"
2,2919.0,4789749,HM402220,2004-06-20 11:00:00,025XX N KIMBALL AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,...,35.0,22.0,20,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
3,2927.0,4789765,HM402058,2004-12-30 20:00:00,045XX W MONTANA ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,...,31.0,20.0,06,NaN,NaN,2004.0,08/17/2015 03:03:40 PM,NaN,NaN,NaN
4,3302.0,4677901,HM275615,2003-05-01 01:00:00,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,...,34.0,49.0,06,1174948.0,1831051.0,2003.0,04/15/2016 08:55:02 AM,41.691784636,-87.635116,"(41.691784636, -87.635115968)"

## Checking missing values

In [7]:
missing_values = dask_all_file.isnull().sum()
missing_values

Dask Series Structure:
npartitions=1
Arrest    int64
Year        ...
dtype: int64
Dask Name: dataframe-sum-agg, 100 tasks

In [8]:
missing_count = ((missing_values / dask_all_file.index.size) * 100)
missing_count

Dask Series Structure:
npartitions=1
Arrest    float64
Year          ...
dtype: float64
Dask Name: mul, 169 tasks

In [9]:
%%time
with ProgressBar(): 
#ProgressBar is a function provided out of the dask.diagnostics package which will display a progress bar in your terminal to let you know how far a long a particular task is while itâ€™s executing.
    missing_count_pct = missing_count.compute()
missing_count_pct

[                                        ] | 0% Completed |  2.2s

/home/kuntalac/miniconda3/lib/python3.9/site-packages/dask/dataframe/io/csv.py:125: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  df = pandas_read_text(

[                                        ] | 0% Completed | 10.9s

b'Skipping line 210938: expected 23 fields, saw 24\n'

[###                                     ] | 8% Completed |  6min 45.8s

b'Skipping line 24743: expected 23 fields, saw 24\n'

[###############                         ] | 38% Completed | 13min 20.1s

b'Skipping line 132222: expected 23 fields, saw 41\n'

[########################################] | 100% Completed | 20min 23.5s
CPU times: user 18min 4s, sys: 4min 44s, total: 22min 49s
Wall time: 20min 23s

Unnamed: 0              0.000000
ID                      0.000000
Case Number             0.000088
Date                    0.000000
Block                   0.000000
IUCR                    0.000000
Primary Type            0.000000
Description             0.000000
Location Description    0.025059
Arrest                  0.000000
Domestic                0.000000
Beat                    0.000000
District                0.001146
Ward                    8.817518
Community Area          8.841028
FBI Code                0.000000
X Coordinate            1.329420
Y Coordinate            1.329420
Year                    0.000000
Updated On              0.000000
Latitude                1.329420
Longitude               1.329433
Location                1.329433
dtype: float64

In [15]:
# drop unwanted columns
columns_to_drop = ['Unnamed: 0','ID','Case Number','IUCR','X Coordinate','Y Coordinate','Updated On','Location' ]
dask_all_file1 = dask_all_file.drop(columns_to_drop, axis=1)

In [20]:
dask_all_file1.columns

Index(['Date', 'Block', 'Primary Type', 'Description', 'Location Description',
       'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'Community Area',
       'FBI Code', 'Year', 'Latitude', 'Longitude'],
      dtype='object')

## Imputing missing values

In [21]:
%%time
fill_unknown = {
'Location Description': 'Unknown',
'District': 'Unknown',
'Ward': 'Unknown',
'Community Area': 'Unknown',
'Latitude': 'Unknown',
'Longitude':'Unknown'
}
with ProgressBar():
  dask_all_file2 = dask_all_file1.fillna(fill_unknown)
missing_values = dask_all_file2.isnull().sum()
missing_count = ((missing_values / dask_all_file2.index.size) * 100)
with ProgressBar():
    missing_count_pct = missing_count.compute()
print(missing_count_pct)

[                                        ] | 0% Completed | 10.8s

b'Skipping line 210938: expected 23 fields, saw 24\n'

[###                                     ] | 8% Completed |  6min 40.2s

b'Skipping line 24743: expected 23 fields, saw 24\n'

[###############                         ] | 38% Completed | 13min 17.4s

b'Skipping line 132222: expected 23 fields, saw 41\n'

[########################################] | 100% Completed | 20min 22.2s
Date                    0.0
Block                   0.0
Primary Type            0.0
Description             0.0
Location Description    0.0
Arrest                  0.0
Domestic                0.0
Beat                    0.0
District                0.0
Ward                    0.0
Community Area          0.0
FBI Code                0.0
Year                    0.0
Latitude                0.0
Longitude               0.0
dtype: float64
CPU times: user 18min 7s, sys: 4min 35s, total: 22min 43s
Wall time: 20min 22s

In [22]:
dask_all_file2.dtypes

Date                    datetime64[ns]
Block                           object
Primary Type                    object
Description                     object
Location Description            object
Arrest                            bool
Domestic                          bool
Beat                            uint16
District                       float64
Ward                           float64
Community Area                 float64
FBI Code                        object
Year                           float64
Latitude                        object
Longitude                      float64
dtype: object

## Checking Duplicates

### drop duplicate records

In [24]:
%%time
dask_all_file2 = dask_all_file2.drop_duplicates()

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 32.5 ms

# Data analysis proposal

## 1. Single analysis
- 1.1. Column Year: Years with most criminal records
- 1.2. Column Primary Type: type of criminal action, which one was the most common
- 1.3. Column Domestic: Rate of domestic criminal offenses vs non-domestic ones
- 1.4. Column Arrest: Rate of criminal acts involving arrest
- 1.5. Columns Latitude, longitud, location: To add them on a map to determine which areas concentrate most of the criminality
- 1.6. Column District: Top 5 of most violent districts

## 2. Analysis involving more than two categories
- 2.1. Column Primary Type and Year: Year evolution of the top 5 most common criminal actions
- 2.2. Column Districts and Year: How violence evolved thoughout the years in the top 5 most violent districts

In [25]:
%%time
with ProgressBar():
    crime_types = dask_all_file2[['Primary Type']]
    crime_count_by_type = crime_types.groupby('Primary Type').size().compute()
 
top_10_crime_types = crime_count_by_type.nlargest(10).sort_values(axis=0,ascending=False)
top_10_crime_types

[                                        ] | 0% Completed |  0.7s

/home/kuntalac/miniconda3/lib/python3.9/site-packages/dask/dataframe/io/csv.py:125: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  df = pandas_read_text(

[                                        ] | 0% Completed | 10.6s

b'Skipping line 210938: expected 23 fields, saw 24\n'

[###                                     ] | 8% Completed |  6min 49.1s

b'Skipping line 24743: expected 23 fields, saw 24\n'

[#########                               ] | 22% Completed |  7min 21.0s

/home/kuntalac/miniconda3/lib/python3.9/site-packages/dask/dataframe/io/csv.py:125: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  df = pandas_read_text(

[##############                          ] | 36% Completed | 13min 40.2s

b'Skipping line 132222: expected 23 fields, saw 41\n'

[##################                      ] | 45% Completed | 14min 11.9s

/home/kuntalac/miniconda3/lib/python3.9/site-packages/dask/dataframe/io/csv.py:125: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  df = pandas_read_text(

[########################################] | 100% Completed | 21min 24.4s
CPU times: user 19min 7s, sys: 4min 52s, total: 23min 59s
Wall time: 21min 24s

Primary Type
THEFT                  1282722
BATTERY                1124993
CRIMINAL DAMAGE         707909
NARCOTICS               667490
OTHER OFFENSE           381052
ASSAULT                 376668
BURGLARY                360698
MOTOR VEHICLE THEFT     290620
ROBBERY                 233489
DECEPTIVE PRACTICE      222583
dtype: int64

## 1. Single analysis

### 1.1. Column Year: Years with most criminal records

In [ ]:
crime_by_year=dask_all_file.groupby('Year').size().compute()
top_10_years = crime_by_year.nlargest(10).sort_values(axis=0,ascending=True)
top_10_years

### 1.2. Column Primary Type: type of criminal action, which one was the most common

In [ ]:
crime_types_total=dask_all_file.groupby('Primary Type').size().compute()
top_10_crime_types = crime_types_total.nlargest(10).sort_values(axis=0,ascending=True)
top_10_crime_types

## 3. Data Visualization based on the Analysis
- Top 10 locations by total crimes on those locations
- Top 10 primary types of crimes and their number of occurence
- Number of cases by type
- Comparing Arrested or Not
- Plot Arrested Rate
- Number of cases per Year vs Months (Can use heatmap and bar) (we can also do a stacked graph x=month, y=total crimes , color of stack representing primary type.)
- Crime count total [2001-2017]  Vs. Month of the year- Which month of the year the crime count is the highest?
      -- one more where we add primary type of crimes also in monthwise counts
- Crime count total [2001-2017]  Vs. Day of the week
- No. of Crime per year-month (Aggregate by Year and Month) - 12 months Rolling sum ? We can prove if the crime rate (or crimes) is increasing or decreasing over these years
- Plot the location on the map, - Most Common 10 Crime Places
- Plot no. of crimes by location - on map, locations where total crimes r higher?
- Mapping Theft Crime Locations

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=6ab987db-b709-4ef7-9bee-384a40c4b1c2' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>